<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GFG User Details</title>

    <!-- INCLUDING JQUERY-->
    <script src="https://code.jquery.com/jquery-3.5.1.js">
    </script>

    <!-- CSS FOR STYLING THE PAGE -->
    <style>
        table {
            margin: 0 auto;
            font-size: large;
            border: 1px solid black;
        }

        h1 {
            text-align: center;
            color: #006600;
            font-size: xx-large;
            font-family: 'Gill Sans', 'Gill Sans MT', ' Calibri', 'Trebuchet MS', 'sans-serif';
        }

        td {
            background-color: #E4F5D4;
            border: 1px solid black;
        }

        th,
        td {
            font-weight: bold;
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }

        td {
            font-weight: lighter;
        }
    </style>
</head>

<body>
    <section>


        <!-- TABLE CONSTRUCTION-->
        <table id='table'>
            <!-- HEADING FORMATION -->
            <tr>
                <th> lastName: </th>
                <th> test1: </th>
                <th> test2: </th>
                <th> test3: </th>
                <th> test4: </th>
                <th> final: </th>
                <th> grade </th>
            </tr>

            <script>
                $(document).ready(function() {

                    // FETCHING DATA FROM JSON FILE
                    $.getJSON("./student-2.json",
                        function(data) {
                            var student = '';

                            // ITERATING THROUGH OBJECTS
                            $.each(data, function(key, value) {

                                //CONSTRUCTION OF ROWS HAVING
                                // DATA FROM JSON OBJECT
                                student += '<tr>';
                                student += '<td>' +
                                    value.lastname + '</td>';

                                student += '<td>' +
                                    value.test1 + '</td>';

                                student += '<td>' +
                                    value.test2 + '</td>';

                                student += '<td>' +
                                    value.test3 + '</td>';

                                student += '<td>' +
                                    value.test4 + '</td>';

                                student += '<td>' +
                                    value.final + '</td>';

                                student += '<td>' +
                                    value.grade + '</td>';


                                student += '</tr>';
                            });

                            //INSERTING ROWS INTO TABLE
                            $('#table').append(student);
                        });
                });
            </script>
            <a href="/"></a>
    </section>
</body>

</html>